@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
*{
    font-family: 'Merriweather Sans', sans-serif;
}

/* Navigation Menu Start */
.navbar{
    box-shadow: 0px 1px 3px 0px #0000003d;
}
.nav-link{
    letter-spacing: 1px;
}
.font-14{
    font-size: 14px;
}
.nav-link:hover{
    color: #00754a !important;
}
/* Navigation Menu End */

/* For All Sections CSS start */
.secRow{
    margin: 2rem 0 !important;
}

/* For All Sections CSS end */

/* 1st Section Start */
.section-one-left{
    background-color: #d4e9e2;
}
.section-one-right{
    background-color: #1e3932;
    padding-left: 5rem;
    padding-right: 5rem;
}
/* 1st Section End */

/* 2nd Section Start */
.section-two{
    background-color: #d4e9e2;
}
.section-two-left{
    color: #1e3932;
    padding-left: 6rem;
    padding-right: 6rem;
}
.section-two-left h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 900;
}
.section-two-left p{
    font-size: 24px !important;
}
.section-two-left button{
    color: #1e3932;
    border: 1px solid #1e3932;
}
/* 2nd Section End */

/* 3rd Section Start */
.section-three{
    background-color: #007042;
}
/* 3rd Section End */

/* 4th Section Start */
.section-four{
    background-color: #d4e9e2;
}
.section-four-left{
    color: #1e3932;
}
.section-four-left button{
    border: 1px solid #1e3932;
}
/* 4th Section End */

/* Footer Start */

/* Footer End */

/* Responsiveness */

@media only screen and (max-width: 1023px) {
     .section-one-right {
        padding-left: 3.3rem;
        padding-right: 3.3rem;
    }
    .section-one-right p{
        font-size: 19px !important;
        line-height: 33px;
    }
    .section-two-left{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .section-two-left h1{
        font-size: 28px;
    }

}
 @media only screen and (max-width: 767px){
    .section-one-left{
        padding: 0 !important;
    }
    .section-one-right{
        padding: 1.95rem 0.5rem !important;
    }
    .section-one-right p{
        font-size: 16px !important;
    }
    .section-two-left{
        padding: 1.75rem 3rem !important;
        order: 2;
    }
    .section-two-left p{
        font-size: 22px !important;
    }
    .section-four-left{
        order: 2;
        padding: 1.95rem 0 !important;
    }
    .section-four-left p{
        font-size: 16px !important;
    }
} 